<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="w-full h-svh dark:bg-black dark:text-white p-4 flex flex-col justify-center items-center">
    <div id="preview"
      class="*:max-w-[32rem] *:max-h-[18rem] *:border flex flex-row flex-wrap *:p-4 m-2 items-center justify-center">
      <p>Preview Here</p>
    </div>
    <div class="flex *:m-4">
      <button id="select_file_button" class="dark:bg-gray-700 p-4 rounded">Open</button>
      <button id="upload_button" class="dark:bg-gray-700 p-4 rounded">Upload</button>
    </div>
    <input type="file" id="file_input" hidden multiple>
    <div id="result_area" class="flex flex-col *:border *:p-2 *:m-2 *:text-center">
      <p>Result Here</p>
    </div>
  </div>
  <script>
    const previewBox = document.getElementById('preview');
    const fileInput = document.getElementById('file_input');
    const selectFileButton = document.getElementById('select_file_button');
    const uploadButton = document.getElementById('upload_button');
    const maxFileCount = 20;
    const resultArea = document.getElementById('result_area')

    selectFileButton.addEventListener('click', () => {
      fileInput.click();
    });

    fileInput.addEventListener('change', () => {
      previewBox.innerHTML = '';
      let fileCount = fileInput.files.length;
      if (fileCount > maxFileCount) {
        alert(`最高同時上傳數量為 ${maxFileCount} 個檔案，超過的將捨棄`);
        fileCount = maxFileCount;
      }
      for (let i = 0; i < fileCount; i++) {
        let file = fileInput.files[i];
        const fileType = file.type;
        if (fileType.startsWith('image')) {
          let img = document.createElement('img');
          img.src = URL.createObjectURL(file);
          previewBox.appendChild(img);
        } else if (fileType.startsWith('video')) {
          let video = document.createElement('video');
          video.src = URL.createObjectURL(file);
          video.controls = true;
          previewBox.appendChild(video);
        } else if (fileType.startsWith('audio')) {
          let audio = document.createElement('audio');
          audio.src = URL.createObjectURL(file);
          audio.controls = true;
          previewBox.appendChild(audio);
        } else if (fileType == 'application/pdf') {
          let pdf = document.createElement('iframe');
          pdf.src = URL.createObjectURL(file);
          previewBox.appendChild(pdf);
        } else {
          let div = document.createElement('div')
          div.innerHTML = file.name
          previewBox.appendChild(div);
        }
      }
    });

    uploadButton.addEventListener('click',async () => {
      resultArea.innerHTML = 'Uploading...';
      let fileCount = fileInput.files.length;
      for (let i = 0; i < (fileCount < maxFileCount ? fileCount : maxFileCount); i++) {
        file = file_input.files[i];
        formData.append('file', file);
        await fetch(`/upload/file`, {
          method: 'POST',
          body: formData
        }).then(response => response.json()).then(data => {
          if (!data.id) {
            return;
          }
          const filename = data.filename
          const id = data.id

          const message = document.createElement('p');
          message.innerHTML = 'File uploaded successfully';

          const view = document.createElement('a');
          view.innerHTML = 'View online';
          view.href = `/view/${id}/${filename}`;

          resultArea.appendChild(message);
          resultArea.appendChild(view);
        });
      }
    });
  </script>
</body>

</html>