<!DOCTYPE html>
<html lang="en" ontouchmove>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{real_filename}}</title>
  <meta name="title" content="{{real_filename}}" />
  <meta name="description" content="View {{real_filename}} ({{file_size}}) online" />
  <meta name="theme-color" content="#4AB4EF">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{real_filename}}" />
  <meta property="og:description" content="View {{real_filename}} ({{file_size}}) online" />

  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="w-full min-h-svh dark:bg-black dark:text-white p-4 flex flex-col justify-center items-center relative">
    <div id="top_bar"
      class="flex flex-row w-[95%] fixed hover:opacity-90 opacity-100 transition-all duration-[2500ms] delay-150 p-2 justify-between top-0 shadow-inner rounded-xl shadow-gray-700 *:p-2 items-center bg-[rgba(0,0,0,0.7)] z-10">
      <h1 class="text-xl" id="filename_display">Loading...</h1>
      <a href="" id="download">Download</a>
    </div>
    <div id="preview" class="flex flex-row w-[80%] *:max-w-[90%] *:border *:p-4 m-2 items-center justify-center z-1">
      <p id="loading">Loading...</p>
    </div>
  </div>
  <script>
    let path = window.location.pathname.split('/');
    let filename = path.pop();
    let id = path.pop();
    (async () => {
      if (!id || !filename || id === '' || filename === '') {
        return;
      }
      const topBar = document.getElementById('top_bar');
      const filenameDisplay = document.getElementById('filename_display');
      const downloadButton = document.getElementById('download');
      const previewBox = document.getElementById('preview');

      const downloadURL = `/attachments/${id}/${filename}`
      const fileReq = await fetch(downloadURL);
      if (!fileReq.ok) {
        const status = fileReq.status;
        let previewText;
        if (fileReq.status === 400) {
          previewText = 'File not found';
        } else {
          previewText = 'Fail to load file';
        }
        previewBox.innerHTML = previewText;
        topBar.hidden = true;
        filenameDisplay.hidden = true;
        downloadButton.hidden = true;
        return;
      }

      const realFilename = decodeURIComponent(fileReq.headers.get("content-disposition")).split("'")[2];
      filenameDisplay.innerHTML = realFilename;
      downloadButton.href = downloadURL;

      const fileContentType = fileReq.headers.get('content-type');
      let fileType;
      if (fileContentType.startsWith('image')) {
        fileType = "image";
      } else if (fileContentType.startsWith('video')) {
        fileType = "video";
      } else if (fileContentType.startsWith('audio')) {
        fileType = "audio";
      } else {
        previewBox.innerHTML = `<div class="flex flex-col items-center space-y-6">
          <p>Cannot preview ${realFilename}: Unsupported file type.<p/>
          <a href="${downloadURL}" id="download">Download</a>
          </div>`;
        return;
      }

      const file = await fileReq.blob();
      const url = URL.createObjectURL(file);
      previewBox.innerHTML = '';
      if (fileType === 'image') {
        const img = document.createElement('img');
        img.src = url;
        previewBox.appendChild(img);
      } else if (fileType === 'video') {
        const video = document.createElement('video');
        video.src = url;
        video.controls = true;
        previewBox.appendChild(video);
      } else if (fileType === 'audio') {
        const audio = document.createElement('audio');
        audio.src = url;
        audio.controls = true;
        previewBox.appendChild(audio);
      } else {
        previewBox.innerHTML = 'Unsupported file type.';
      }

      setTimeout(() => {
        topBar.classList.replace('opacity-100', 'opacity-0');
        setTimeout(() => {
          topBar.classList.replace('duration-[2500ms]', 'duration-[600ms]');
        }, 2500);
      }, 1500);
    })();
  </script>
</body>

</html>