<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="w-full min-h-svh dark:bg-black dark:text-white p-4 flex flex-col justify-center items-center relative">
    <div id="top_bar"
      class="flex flex-row w-[95%] p-2 justify-between fixed top-0 m-8 opacity-0 shadow-inner rounded-full shadow-gray-700 *:p-2 items-center bg-[rgba(0,0,0,0.7)]">
      <h1 class="text-2xl" id="filename_display"></h1>
      <a href="" id="download"></a>
    </div>
    <div id="preview" class="*:max-w-[90%] *:border flex flex-row *:p-4 m-2 items-center justify-center">
      <p id="loading">Loading...</p>
    </div>
  </div>
  <script>
    let path = window.location.pathname.split('/');
    let filename = 'BOFXVIfeat.65Smh8rwdJI.webm';//path.pop();//
    let id = '2340fbbe-60f2-4e69-a81c-f42aab879aa5';//path.pop();
    (async () => {
      if (!id || !filename || id === '' || filename === '') {
        return;
      }
      const fileReq = await fetch(`https://cdn.pikacnu.com/attachments/${id}/${filename}`);
      
      for(const [key, value] of fileReq.headers.entries()) {
        console.log(`${key}: ${value}`);
      }
      const download = document.getElementById('download');
      const previewBox = document.getElementById('preview');
      if (!fileReq.ok) {
        const status = fileReq.status;
        let previewText;
        if (fileReq.status === 400) {
          previewText = 'File not found';
        } else {
          previewText = 'Fail to load file';
        }
        previewBox.innerHTML = previewText;
        download.hidden = true;
        return;
      }
      download.href = `/attachments/${id}/${filename}`;
      download.innerHTML = 'Download';
      const file = await fileReq.blob();
      const url = URL.createObjectURL(file);
      const fileType = file.type;
      document.getElementById('filename_display').innerHTML = fileReq.headers.get("content-disposition");
      document.getElementById('top_bar').classList.remove('opacity-0');
      previewBox.innerHTML = '';
      if (fileType.startsWith('image')) {
        const img = document.createElement('img');
        img.src = url;
        previewBox.appendChild(img);
      } else if (fileType.startsWith('video')) {
        const video = document.createElement('video');
        video.src = url;
        video.controls = true;
        previewBox.appendChild(video);
      } else if (fileType.startsWith('audio')) {
        const audio = document.createElement('audio');
        audio.src = url;
        audio.controls = true;
        previewBox.appendChild(audio);
      } else {
        const p = document.createElement('p');
        p.innerHTML = `Cannot preview ${filename}`;
        previewBox.appendChild(p);
      }
    })();
  </script>
</body>

</html>