<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="w-full min-h-svh dark:bg-black dark:text-white p-4 flex flex-col justify-center items-center">
    <div id="preview"
      class="*:max-w-[80%] *:border flex flex-row *:p-4 m-2 items-center justify-center">
    </div>
    <div id="result" class="*:border">

    </div>
    <a href="" id="download"></a>
  </div>
  <script>
    let path = window.location.pathname.split('/');
    let filename = path.pop();
    let id = path.pop();
    (async () => {
      const fileReq = await fetch(`/attachments/${id}/${filename}`)
      const download = document.getElementById('download');
      if (fileReq.status === 404) {
        document.getElementById('result').innerHTML = 'File not found';
        download.hidden = true;
        return;
      }
      download.href = `/attachments/${id}/${filename}`;
      download.innerHTML = 'Download';
      const file = await fileReq.blob();
      const url = URL.createObjectURL(file);
      const fileType = file.type;
      if (fileType.startsWith('image')) {
        const img = document.createElement('img');
        img.src = url;
        document.getElementById('preview').appendChild(img);
      } else if (fileType.startsWith('video')) {
        const video = document.createElement('video');
        video.src = url;
        video.controls = true;
        document.getElementById('preview').appendChild(video);
      } else if (fileType.startsWith('audio')) {
        const audio = document.createElement('audio');
        audio.src = url;
        audio.controls = true;
        document.getElementById('preview').appendChild(audio);
      } else {
        const p = document.createElement('p');
        p.innerHTML = `Cannot preview ${filename}`;
        document.getElementById('preview').appendChild(p);
      }
    })();
  </script>
</body>

</html>
